<nav class="pt-4 pb-4">
    <div class="container">
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('photo_add') }}">Envoyer des photos</a></li>
            <li><a href="{{ path('sign_out') }}">Déconnexion</a></li>
        </ul>
    </div>
</nav>
