<header class="header">
    <div class="navigation-trigger hidden-xl-up" data-sa-action="aside-open" data-sa-target=".sidebar">
        <i class="fa fa-bars"></i>
    </div>

    <div class="logo hidden-sm-down">
        <h1><a href="{{ path('admin_home') }}">Zen Unicorn</a></h1>
    </div>

    <ul class="top-nav">
        <li>
            <a class="top-nav__themes" href="{{ path('sign_out') }}"><i class="fa fa-power-off"></i></a>
        </li>
    </ul>
</header>
