{% extends 'admin/base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title 'Photos' %}

{% block content %}
    <div class="container">
        <section class="pt-4 pb-4">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="{{ path('photo_view', {'id': photo.id}) }}" />
                </div>
                <div class="col-md-6">
                    {{ form_start(form)  }}
                    {{ form_widget(form) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
