{% extends 'base.html.twig' %}

{% block title 'Unsubscribe' %}

{% block empty_content %}
    <div class="container">
        <section class="pt-4 pb-4">
            <h1>Désinscription à la newsletter</h1>
            <p>La demande de désinscription pour l'email <strong>{{ email }}</strong> a bien été prise en compte.</p>
        </section>
    </div>
{% endblock %}
